.proxpiview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.activated {
  margin-left: 4px;
  color: rgb(61, 159, 207);
  /* border: blue; */
  border: solid;
  border-radius: 15%;
  padding: 1px;
  border-color: green;
  color: green;
}
@media all and (max-width: 600px) {
  .proxpiview {
    display: flex;
    margin: 2%;
    justify-content: center;
    width: 90%;
  }
  .proxpihold {
    justify-content: center;
  }
  .card {
    width: 320px;
  }
}
