h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}
.proxpiview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fontclass {
  font-family: "Raleway", sans-serif;
}
.activated {
  margin-left: 4px;
}
.gLGShy {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5 !important;
  color: #fff;
  padding: 5px 6px !important;
  background: #73cd1f;
  border-radius: 21px;
}
.iGJoae {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5 !important;
  color: #fff;
  padding: 5px 6px !important;
  background: #73cd1f;
  border-radius: 21px;
}
.userdetails {
  margin-top: 0.7%;
}
@media all and (max-width: 600px) {
  .proxpiview {
    display: flex;
    margin: 1%;
    justify-content: center;
    width: 98%;
  }
  .proxpihold {
    justify-content: center;
  }
  .card {
    width: 275px !important;
  }
  .userdetails {
    margin-top: 4%;
  }
}
