.proxpiurl {
  width: 100%;
  margin: 2%;
}
.inputgrp {
  width: 50%;
}
.analytics {
  width: 240px;
}
.clicknavs:hover {
  text-decoration: underline;
}
.colorstuffs {
  color: rgb(0, 225, 255);
}
#sdf {
  margin-bottom: 13%;
}
.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control,
.input-group > .form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
  color: #ffffff;
  background-color: #090c10;
}
.mainbody{
  padding:1%;
  margin:2%;
}
.nmorphism-container{
  background: #090c10;
box-shadow:  9px 9px 22px #151b20,
             -9px -9px 22px #0e131a;
             border-radius: 2%;
             border-color: rgb(51, 50, 50);
}
@media all and (max-width: 600px) {
  .inputgrp {
    width: 96%;
    margin: 2%;
  }
  .lyticsgrp {
    justify-content: center;
  }
  .mainbody{
    padding:0.6%;
    margin:1%;
  }
}
