#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 96%;
  color: #ffffff;
  background-color: #090c10;
  margin: 2%;
}

#students td,
#students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2a8fe2;
  color: white;
}
