@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sintony&display=swap");
.maincontaier {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 98%;
  height: 100%;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  margin: 2%;
  margin-top: 2%;
}
.introvideo {
  width: 42%;

  margin: 3%;
  height: 95%;
}
.intro {
  width: 43%;
  vertical-align: middle;
  margin: 3%;
  height: 98%;
}
.videocontainer {
  height: 50vh;
  margin-top: 2%;
  vertical-align: middle;
}
.introtext {
  font-family: "Poppins", sans-serif;
  font-size: 51px;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(-70deg, #56f6b9, #70b2ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
}
.desc {
  font-size: 23px;
  margin-top: 5%;
  font-family: "Sintony", sans-serif;
  font-weight: 100;
}
.listitem {
  font-family: "Sintony", sans-serif;
  font-size: 17px;
  font-weight: 100;
}
.parentlist {
  margin-top: 2%;
  list-style: url(./images/check.png);
}
.basicbuttons {
  display: flex;
  flex-direction: row;
}
.features {
  margin: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.featuredesc {
  width: 48%;
  height: fit-content;
  margin: 1%;
}
.featureimage {
  align-items: center;
  vertical-align: middle;
  width: 48%;
  height: fit-content;
  margin: 1%;
  display: flex;
  justify-content: center;
}
.featureheading {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(-70deg, #56f6b9, #70b2ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
}
.descfeature {
  font-size: 21px;
  margin-top: 4%;
  font-family: "Sintony", sans-serif;
  vertical-align: middle;
  font-weight: 200;
}
.card {
  margin: 2%;
  width: 300px !important;
}
.headofsecfeatures {
  display: flex;
  flex-direction: row;
  margin: 1%;
}
.fontsbasic {
  font-family: "Sintony", sans-serif;
}
.communityjoin {
  margin: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.headingofadditionalfeatures {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(-70deg, #56f6b9, #70b2ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-box-decoration-break: clone;
}
.joincommunitydesc {
  font-family: "Sintony", sans-serif;
  text-align: center;
  font-size: 20px;
}
.buttongroup {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}
.buttongroup > a{
  margin:2%;
}
.communityenclosingdiv {
  background-color: #171c23;
  border-radius: 2%;
  padding: 2%;
}
@media all and (max-width: 900px) {
  .maincontaier {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 96%;
    height: 100%;
  }
  .desc {
    font-size: 16px;
    margin-top: 3%;
  }
  .intro {
    width: 96%;

    margin: 2%;
    height: fit-content;
  }
  .introvideo {
    width: 94%;

    margin: 2%;
    height: fit-content;
  }
  .videocontainer {
    height: 32vh;
    margin: 0%;
    margin-top: 1%;
  }
  .introtext {
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    margin-top: 1.5%;
  }
  .features {
    margin: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .descfeature {
    font-size: 13px;
    margin-top: 2%;
    font-family: "Sintony", sans-serif;
  }
  .featuredesc {
    width: 98%;
    height: fit-content;
    margin: 1%;
  }
  .featureimage {
    align-items: center;
    vertical-align: middle;
    width: 98%;
    height: fit-content;
    margin: 1%;
    display: flex;
    justify-content: center;
  }
}
@media all and (max-width: 720px) {
  .maincontaier {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 96%;
    height: 100%;
  }
  .desc {
    font-size: 18px;
    margin-top: 3%;
  }
  .intro {
    width: 96%;

    margin: 2%;
    height: fit-content;
  }
  .introvideo {
    width: 94%;

    margin: 2%;
    height: fit-content;
  }
  .videocontainer {
    height: 35vh;
    margin: 0%;
    margin-top: 2%;
  }
  .introtext {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    margin-top: 1.5%;
  }
  .features {
    margin: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .descfeature {
    font-size: 18px;
    margin-top: 2%;
    font-family: "Sintony", sans-serif;
  }
  .featuredesc {
    width: 98%;
    height: fit-content;
    margin: 1%;
  }
  .featureimage {
    align-items: center;
    vertical-align: middle;
    width: 98%;
    height: fit-content;
    margin: 1%;
    display: flex;
    justify-content: center;
  }
  .communityjoin {
    align-items: center;
  }
  .features {
    align-items: center;
  }
  .headingofadditionalfeatures {
    text-align: center;
    font-size: 35px;
  }
  .buttongroup {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .buttongroup > button {
    margin: 2%;
    width: 50%;
  }
  .communityenclosingdiv {
    margin: 1%;
    padding: 1%;
  }
}
