@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
.maincontaier{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
    height: 100%;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin: 2%;
    margin-top: 2%;
}
.introvideo{
    width: 42%;
    
    margin: 3%;
    height: 95%;
}
.intro{
    width: 43%;
    vertical-align: middle;
    margin: 3%;
    height: 98%;
}
.videocontainer{
    height: 50vh;
    margin-top: 2%;
    vertical-align:middle;
}
.introtext{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(

    -70deg
    ,#56f6b9,#70b2ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-box-decoration-break: clone;
        
}
.desc{
    font-size: 20px;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
}
.listitem{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.parentlist{
    margin-top: 2%;
    list-style: url(./images/check.png);
}
.basicbuttons{
    display: flex;
    flex-direction: row;
}
.features{
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.featuredesc{
  
    width: 48%;
    height: fit-content;
    margin: 1%;
}
.featureimage{
    align-items: center;
    vertical-align: middle;
    width: 48%;
    height: fit-content;
    margin: 1%;
    display: flex;
    justify-content: center;
}
.featureheading{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(

    -70deg
    ,#56f6b9,#70b2ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-box-decoration-break: clone;
}
.descfeature{
    font-size: 23px;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
}
@media all and (max-width:600px) {
    .maincontaier{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 96%;
        height: 100%;
    }
    .intro{
        width: 96%;
       
        margin: 2%;
        height: fit-content;
    }
    .introvideo{
        width: 94%;
       
        margin: 2%;
        height: fit-content;
    }
    .videocontainer{
        height: 35vh;
        margin:0%;
        margin-top: 2%;
    }
    .introtext{
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        margin-top: 1.5%;
        
    }
    .features{
        margin: 2%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .descfeature{
        font-size: 18px;
        margin-top: 2%;
        font-family: 'Poppins', sans-serif;
    }
    .featuredesc{
  
        width: 98%;
        height: fit-content;
        margin: 1%;
    }
    .featureimage{
        align-items: center;
        vertical-align: middle;
        width: 98%;
        height: fit-content;
        margin: 1%;
        display: flex;
        justify-content: center;
    }
}