.navbar {
  margin: 2%;
  background: #1b2029;
  box-shadow: 2px 2px 4px #0c0e14, -2px -2px 4px #303852;
}
.rounded {
  border: radius 0.59rem !important;
}
.navbar-toggler,
.collapsed {
  border-radius: 5px;
  outline: none !important;
  background: #1b2029;
  box-shadow: 2px 2px 4px #1b2029, -2px -2px 4px #1b2029;
  color: white !important;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: #54d6b7;
}
.navbar-dark,
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav-tabs {
  padding: 1%;
  border-bottom: none;
}
.nav-link {
  border: none;
}
.nav-link:hover {
  border: none;
  color: white;
  padding: 0.51rem 1rem;
}
.nmorphism-container {
  background: #090c10;
  box-shadow: 9px 9px 22px #151b20, -9px -9px 22px #0e131a;
  border-radius: 2%;
  border-color: rgb(51, 50, 50);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
}
