.nav-tabs {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* overflow-x: visible; */
  width: 100%;
  overflow: scroll;
}
.navbar,
.navbar-expand-lg,
.navbar-light,
.bg-light,
.rounded {
  background-color: #1b2029 !important;
}
.nav-tabs::-webkit-scrollbar {
  display: none;
}
@media all and (max-width: 400px) {
  .nav-link {
    width: 130px;
  }
}
