body {
  font-family: 'Karla', sans-serif; }

  .coloretc{
    background-color: #090c10;
  }
  .nmorphism-container{
    background: #090c10;
    border-color: #54d6b7 !important;
  }
  li{
    color:white;
  }
  .border-primary {
    border-color: #54d6b7 !important;
}
.bg-primary {
  background-color: #226f6c !important;
}
.btn-primary {
  background-color: #226f6c !important;
  border: none;
}
.btn-outline-primary {
  color: #155f5d;
 
  border-color: #226f6c !important;
  
}